.score-card {
  text-align: center;
  margin-top: 40px;
}

.heading {
  color: brown;
}

.label.name {
  color: blue;
}

.label.school {
  color: red;
}

.label.total {
  color: brown;
}

.label.score {
  color: green;
}
